# For postgresjs
DATABASE_URL="postgres://user:pwd@host:port/database"

# `openssl rand -base64 32`
AUTH_SECRET=
# This (or NEXTAUTH_URL) is needed for NextAuth when changing Next default port
AUTH_URL=http://localhost:3000